.page-index-head {
  background-image: url(../images/welcome_to_sedona.jpg);
}

.subscribe {
  background-image: url(../images/advantages_canyon-bluer.jpg);
}

.catalog-products-filtr {
  background-image: url(../images/welcome_to_sedona-bluer.jpg);
}
