@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/some-font.woff2") format("woff2");
  font-display: swap;
}

.page-index-head {
  background-image: url(../images/background/welcome_to_sedona.jpg);
}

.subscribe {
  background-image: url(../images/background/advantages_canyon-bluer.jpg);
}

.inner-header {
  background-image: url(../images/background/welcome_to_sedona-bluer.jpg);
}
